## Comparing Isotropy of Outputs

In [ ]:
import numpy as np 
import pandas as pd 
import math as mt
import matplotlib.pyplot as plt
import pickle

In [ ]:
path ='C:/Users/Dell/IBM GRM Extension/Anisotropy/output.pkl' #path='/root/……/aus_openface.pkl' Path where the pkl file is located

f = open(path,'rb')
output = np.array(pickle.load(f))
f.close()

outputdf = pd.DataFrame(output)
outputdf.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,15.900994,0.0,0.0,0.0,0.0,0.0,15.086040,0.0,0.0,0.000000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,16.296925,0.0,0.0,0.0,0.0,0.0,15.917006,0.0,0.0,0.000000
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,16.254076,0.0,0.0,0.0,0.0,0.0,15.881575,0.0,0.0,0.000000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,16.577074,0.0,0.0,0.0,0.0,0.0,15.942196,0.0,0.0,0.000000
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,16.702976,0.0,0.0,0.0,0.0,0.0,16.238155,0.0,0.0,0.726643

In [ ]:
path ='C:/Users/Dell/IBM GRM Extension/Anisotropy/newoutputtest.pkl' #path='/root/……/aus_openface.pkl' Path where the pkl file is located

f = open(path,'rb')
newoutput = np.array(pickle.load(f))
f.close()

newoutputdf = pd.DataFrame(newoutput)
newoutputdf.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,14.500525,13.599455,0.0,14.551217,0.0,0.0,14.188415,1510.482666,1493.340088
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,14.420261,13.804914,0.0,14.627399,0.0,0.0,14.308491,1523.388550,1504.423584
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,14.218019,13.675865,0.0,14.422848,0.0,0.0,14.269632,1490.575439,1481.760132
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,14.941875,14.350095,0.0,15.019228,0.0,0.0,14.908100,1631.519775,1633.545654
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,14.860146,14.436577,0.0,15.178185,0.0,0.0,14.883581,1636.825195,1640.255371

## Isotropy considering non-zero columns

### For original output

In [ ]:
W_nonz = np.array(outputdf.loc[:, (outputdf != 0).any(axis=0)])
W_nonz.shape

(2216, 457)

In [ ]:
W_nonz = np.array(outputdf.loc[:, (outputdf != 0).any(axis=0)])

U = np.linalg.eig(np.matmul(np.transpose(W_nonz),W_nonz))[1]

V = np.concatenate((W_nonz, U))


def isotropy(W):

    U = np.linalg.eig(np.matmul(np.transpose(W),W))[1]

    max_f = -mt.inf
    min_f =  mt.inf

    for i in range(U.shape[1]):

        f = np.exp(np.matmul(W, np.expand_dims(U[:, i], 1)))
        f = np.sum(f)
        

        if f != 0:
            min_f = min(min_f, f)
        max_f = max(max_f, f)        

    isotropy = min_f / max_f

    return isotropy

print(isotropy(W_nonz))

1.5989502e-09

#### Isotropy of original output considering non-zero columns: 1.5989502e-09

### For new output

In [ ]:
W_nonz = np.array(newoutputdf.loc[:, (newoutputdf != 0).any(axis=0)])
W_nonz.shape

(2216, 459)

In [ ]:
W_nonz = np.array(newoutputdf.loc[:, (newoutputdf != 0).any(axis=0)])

U = np.linalg.eig(np.matmul(np.transpose(W_nonz),W_nonz))[1]

V = np.concatenate((W_nonz, U))


def isotropy(W):

    U = np.linalg.eig(np.matmul(np.transpose(W),W))[1]

    max_f = -mt.inf
    min_f =  mt.inf

    for i in range(U.shape[1]):

        f = np.exp(np.matmul(W, np.expand_dims(U[:, i], 1)))
        f = np.sum(f)
        

        if f != 0:
            min_f = min(min_f, f)
        max_f = max(max_f, f)        

    isotropy = min_f / max_f

    return isotropy

print(isotropy(W_nonz))

5.5878093e-08

#### Isotropy of new output considering non-zero columns: 5.5878093e-08

In [ ]:
max(5.5878093e-08, 1.5989502e-09)

5.5878093e-08

### The new output is more isotropic than original output.
### Thus, isotropy of embedding space has improved.